SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NGANHNGHE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NGANHNGHE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNganh] [nvarchar](100) NOT NULL,
	[MoTa] [text] NULL,
 CONSTRAINT [PK_NGANHNGHE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GOIDANGTUYEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GOIDANGTUYEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DonGia] [float] NOT NULL,
	[SoNgay] [int] NOT NULL,
	[MoTa] [text] NULL,
 CONSTRAINT [PK_GOIDANGTUYEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QUANGCAO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QUANGCAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenQC] [nvarchar](50) NOT NULL,
	[URLHinhAnh] [nchar](100) NOT NULL,
	[ViTri] [int] NOT NULL,
	[GiaTien] [float] NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
 CONSTRAINT [PK_QUANGCAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRONGSO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TRONGSO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Level] [int] NOT NULL,
	[GiaTri] [float] NOT NULL,
	[MoTa] [text] NULL,
 CONSTRAINT [PK_TRONGSO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ADMIN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nchar](20) NOT NULL,
	[Password] [nchar](20) NOT NULL,
	[Email] [nchar](20) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QUOCGIA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QUOCGIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenQG] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUOCGIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DONVITIENTE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DONVITIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDVTienTe] [nchar](10) NOT NULL,
	[TyGiaUSD] [float] NOT NULL,
 CONSTRAINT [PK_DONVITIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KYNANGNGONNGU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KYNANGNGONNGU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Level] [int] NOT NULL,
 CONSTRAINT [PK_KYNANGNGONNGU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KYNANGTINHOC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KYNANGTINHOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Level] [int] NULL,
 CONSTRAINT [PK_KYNANGTINHOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHATUYENDUNG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NHATUYENDUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenCongTy] [nvarchar](100) NOT NULL,
	[Email] [nchar](20) NULL,
	[Password] [nchar](20) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [nchar](20) NULL,
	[LinhVuc] [int] NOT NULL,
	[TenNguoiDaiDien] [nvarchar](50) NOT NULL,
	[MoTa] [text] NULL,
	[MaTKNganHang] [nchar](10) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_NHATUYENDUNG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CV]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NganhNghe] [int] NOT NULL,
	[KinhNghiem] [int] NOT NULL,
	[BangCap] [int] NULL,
	[Luong] [int] NULL,
	[ViTri] [int] NULL,
	[CapBac] [int] NULL,
	[LoaiCongViec] [int] NULL,
	[CongViecMongMuon] [int] NULL,
	[KyNangNgoaiNgu] [int] NULL,
	[KyNangTinHoc] [int] NULL,
	[KyNangKhac] [text] NULL,
	[DonViTienTe] [int] NULL,
	[URLFileCV] [nchar](100) NULL,
 CONSTRAINT [PK_CV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TINTUYENDUNG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TINTUYENDUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nganh] [int] NOT NULL,
	[KinhNghiem] [int] NOT NULL,
	[BangCap] [int] NOT NULL,
	[KyNangNgonNgu] [int] NULL,
	[KyNangTinHoc] [int] NULL,
	[Luong] [int] NOT NULL,
	[ViTri] [int] NOT NULL,
	[CapBac] [int] NOT NULL,
	[LoaiCongViec] [int] NOT NULL,
	[MoTaCongViec] [text] NULL,
	[NgayDangTin] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NULL,
	[SoLuotXem] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[GoiDangTuyen] [int] NULL,
 CONSTRAINT [PK_TINTUYENDUNG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NGUOITIMVIECLUUTINTUYENDUNG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NGUOITIMVIECLUUTINTUYENDUNG](
	[MaNguoiTimViec] [int] NOT NULL,
	[MaTinTuyenDung] [int] NOT NULL,
	[GhiChu] [text] NULL,
 CONSTRAINT [PK_NGUOITIMVIECLUUTINTUYENDUNG] PRIMARY KEY CLUSTERED 
(
	[MaNguoiTimViec] ASC,
	[MaTinTuyenDung] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[APPLICATION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[APPLICATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[DiemTuongThich] [nchar](10) NOT NULL,
	[MaNhaTD] [int] NOT NULL,
	[MaTinTD] [int] NOT NULL,
 CONSTRAINT [PK_APPLICATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHATUYENDUNGLUUCV]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NHATUYENDUNGLUUCV](
	[MaNTD] [int] NOT NULL,
	[MaCV] [int] NOT NULL,
	[GhiChu] [text] NULL,
 CONSTRAINT [PK_NHATUYENDUNGLUUCV] PRIMARY KEY CLUSTERED 
(
	[MaNTD] ASC,
	[MaCV] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KINHNGHIEM]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KINHNGHIEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian_Top] [int] NOT NULL,
	[ThoiGian_Bottom] [int] NOT NULL,
	[TrongSo] [int] NOT NULL,
 CONSTRAINT [PK_KINHNGHIEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BANGCAP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BANGCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenBang] [nvarchar](100) NOT NULL,
	[NgayCap] [datetime] NOT NULL,
	[MoTa] [text] NULL,
	[TrongSo] [int] NULL,
 CONSTRAINT [PK_BANGCAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VITRI]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VITRI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenViTri] [nvarchar](50) NOT NULL,
	[TrongSo] [int] NULL,
	[MoTa] [text] NULL,
 CONSTRAINT [PK_VITRI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CAPBAC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CAPBAC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenCapBac] [nvarchar](50) NOT NULL,
	[TrongSo] [int] NULL,
	[MoTa] [text] NULL,
 CONSTRAINT [PK_CAPBAC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAICONGVIEC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOAICONGVIEC](
	[ID] [int] NOT NULL,
	[TenLoaiCongViec] [nchar](10) NOT NULL,
	[MoTa] [text] NOT NULL,
	[TrongSo] [int] NOT NULL,
 CONSTRAINT [PK_LOAICONGVIEC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NGONNGU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NGONNGU](
	[ID] [int] NOT NULL,
	[TenNgonNgu] [nvarchar](50) NULL,
	[TrongSo] [int] NULL,
	[KyNangNgonNgu] [int] NULL,
 CONSTRAINT [PK_NGONNGU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TINHOC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TINHOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[MoTa] [text] NOT NULL,
	[TrongSo] [int] NOT NULL,
	[KyNangTinHoc] [int] NOT NULL,
 CONSTRAINT [PK_TINHOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LUONG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GiaTri] [float] NOT NULL,
	[MoTa] [text] NULL,
	[TrongSo] [int] NULL,
	[DVTienTe] [int] NOT NULL,
 CONSTRAINT [PK_LUONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TINHTHANH]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TINHTHANH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenTinh] [nvarchar](50) NULL,
	[MaQG] [int] NULL,
 CONSTRAINT [PK_TINHTHANH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NGUOITIMVIEC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NGUOITIMVIEC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Username] [nchar](20) NOT NULL,
	[Password] [nchar](20) NOT NULL,
	[Email] [nchar](20) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[NgaySinh] [datetime] NOT NULL,
	[GioiTinh] [int] NULL,
	[DienThoai] [nchar](10) NULL,
	[TinhThanh] [int] NULL,
	[NgonNgu] [int] NULL,
	[URLHinhAnh] [nchar](100) NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_NGUOITIMVIEC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHATUYENDUNG_NGANHNGHE]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHATUYENDUNG]'))
ALTER TABLE [dbo].[NHATUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NHATUYENDUNG_NGANHNGHE] FOREIGN KEY([LinhVuc])
REFERENCES [dbo].[NGANHNGHE] ([ID])
GO
ALTER TABLE [dbo].[NHATUYENDUNG] CHECK CONSTRAINT [FK_NHATUYENDUNG_NGANHNGHE]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CV_BANGCAP]') AND parent_object_id = OBJECT_ID(N'[dbo].[CV]'))
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_BANGCAP] FOREIGN KEY([BangCap])
REFERENCES [dbo].[BANGCAP] ([ID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_BANGCAP]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CV_CAPBAC]') AND parent_object_id = OBJECT_ID(N'[dbo].[CV]'))
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_CAPBAC] FOREIGN KEY([CapBac])
REFERENCES [dbo].[CAPBAC] ([ID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_CAPBAC]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CV_DONVITIENTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[CV]'))
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_DONVITIENTE] FOREIGN KEY([DonViTienTe])
REFERENCES [dbo].[DONVITIENTE] ([ID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_DONVITIENTE]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CV_KINHNGHIEM]') AND parent_object_id = OBJECT_ID(N'[dbo].[CV]'))
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_KINHNGHIEM] FOREIGN KEY([KinhNghiem])
REFERENCES [dbo].[KINHNGHIEM] ([ID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_KINHNGHIEM]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CV_LOAICONGVIEC]') AND parent_object_id = OBJECT_ID(N'[dbo].[CV]'))
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_LOAICONGVIEC] FOREIGN KEY([LoaiCongViec])
REFERENCES [dbo].[LOAICONGVIEC] ([ID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_LOAICONGVIEC]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CV_LUONG]') AND parent_object_id = OBJECT_ID(N'[dbo].[CV]'))
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_LUONG] FOREIGN KEY([Luong])
REFERENCES [dbo].[LUONG] ([ID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_LUONG]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CV_NGANHNGHE]') AND parent_object_id = OBJECT_ID(N'[dbo].[CV]'))
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_NGANHNGHE] FOREIGN KEY([NganhNghe])
REFERENCES [dbo].[NGANHNGHE] ([ID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_NGANHNGHE]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CV_NGONNGU]') AND parent_object_id = OBJECT_ID(N'[dbo].[CV]'))
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_NGONNGU] FOREIGN KEY([KyNangNgoaiNgu])
REFERENCES [dbo].[NGONNGU] ([ID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_NGONNGU]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CV_TINHOC]') AND parent_object_id = OBJECT_ID(N'[dbo].[CV]'))
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_TINHOC] FOREIGN KEY([KyNangTinHoc])
REFERENCES [dbo].[TINHOC] ([ID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_TINHOC]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CV_VITRI]') AND parent_object_id = OBJECT_ID(N'[dbo].[CV]'))
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_VITRI] FOREIGN KEY([ViTri])
REFERENCES [dbo].[VITRI] ([ID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_VITRI]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CV_VITRI1]') AND parent_object_id = OBJECT_ID(N'[dbo].[CV]'))
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_VITRI1] FOREIGN KEY([CongViecMongMuon])
REFERENCES [dbo].[VITRI] ([ID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_VITRI1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINTUYENDUNG_BANGCAP]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINTUYENDUNG]'))
ALTER TABLE [dbo].[TINTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_TINTUYENDUNG_BANGCAP] FOREIGN KEY([BangCap])
REFERENCES [dbo].[BANGCAP] ([ID])
GO
ALTER TABLE [dbo].[TINTUYENDUNG] CHECK CONSTRAINT [FK_TINTUYENDUNG_BANGCAP]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINTUYENDUNG_CAPBAC]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINTUYENDUNG]'))
ALTER TABLE [dbo].[TINTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_TINTUYENDUNG_CAPBAC] FOREIGN KEY([CapBac])
REFERENCES [dbo].[CAPBAC] ([ID])
GO
ALTER TABLE [dbo].[TINTUYENDUNG] CHECK CONSTRAINT [FK_TINTUYENDUNG_CAPBAC]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINTUYENDUNG_GOIDANGTUYEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINTUYENDUNG]'))
ALTER TABLE [dbo].[TINTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_TINTUYENDUNG_GOIDANGTUYEN] FOREIGN KEY([GoiDangTuyen])
REFERENCES [dbo].[GOIDANGTUYEN] ([ID])
GO
ALTER TABLE [dbo].[TINTUYENDUNG] CHECK CONSTRAINT [FK_TINTUYENDUNG_GOIDANGTUYEN]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINTUYENDUNG_KINHNGHIEM]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINTUYENDUNG]'))
ALTER TABLE [dbo].[TINTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_TINTUYENDUNG_KINHNGHIEM] FOREIGN KEY([KinhNghiem])
REFERENCES [dbo].[KINHNGHIEM] ([ID])
GO
ALTER TABLE [dbo].[TINTUYENDUNG] CHECK CONSTRAINT [FK_TINTUYENDUNG_KINHNGHIEM]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINTUYENDUNG_LOAICONGVIEC]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINTUYENDUNG]'))
ALTER TABLE [dbo].[TINTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_TINTUYENDUNG_LOAICONGVIEC] FOREIGN KEY([LoaiCongViec])
REFERENCES [dbo].[LOAICONGVIEC] ([ID])
GO
ALTER TABLE [dbo].[TINTUYENDUNG] CHECK CONSTRAINT [FK_TINTUYENDUNG_LOAICONGVIEC]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINTUYENDUNG_LUONG]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINTUYENDUNG]'))
ALTER TABLE [dbo].[TINTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_TINTUYENDUNG_LUONG] FOREIGN KEY([Luong])
REFERENCES [dbo].[LUONG] ([ID])
GO
ALTER TABLE [dbo].[TINTUYENDUNG] CHECK CONSTRAINT [FK_TINTUYENDUNG_LUONG]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINTUYENDUNG_NGANHNGHE]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINTUYENDUNG]'))
ALTER TABLE [dbo].[TINTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_TINTUYENDUNG_NGANHNGHE] FOREIGN KEY([Nganh])
REFERENCES [dbo].[NGANHNGHE] ([ID])
GO
ALTER TABLE [dbo].[TINTUYENDUNG] CHECK CONSTRAINT [FK_TINTUYENDUNG_NGANHNGHE]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINTUYENDUNG_NGONNGU]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINTUYENDUNG]'))
ALTER TABLE [dbo].[TINTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_TINTUYENDUNG_NGONNGU] FOREIGN KEY([KyNangNgonNgu])
REFERENCES [dbo].[NGONNGU] ([ID])
GO
ALTER TABLE [dbo].[TINTUYENDUNG] CHECK CONSTRAINT [FK_TINTUYENDUNG_NGONNGU]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINTUYENDUNG_TINHOC]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINTUYENDUNG]'))
ALTER TABLE [dbo].[TINTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_TINTUYENDUNG_TINHOC] FOREIGN KEY([KyNangTinHoc])
REFERENCES [dbo].[TINHOC] ([ID])
GO
ALTER TABLE [dbo].[TINTUYENDUNG] CHECK CONSTRAINT [FK_TINTUYENDUNG_TINHOC]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINTUYENDUNG_VITRI]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINTUYENDUNG]'))
ALTER TABLE [dbo].[TINTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_TINTUYENDUNG_VITRI] FOREIGN KEY([ViTri])
REFERENCES [dbo].[VITRI] ([ID])
GO
ALTER TABLE [dbo].[TINTUYENDUNG] CHECK CONSTRAINT [FK_TINTUYENDUNG_VITRI]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGUOITIMVIECLUUTINTUYENDUNG_NGUOITIMVIEC]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGUOITIMVIECLUUTINTUYENDUNG]'))
ALTER TABLE [dbo].[NGUOITIMVIECLUUTINTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOITIMVIECLUUTINTUYENDUNG_NGUOITIMVIEC] FOREIGN KEY([MaNguoiTimViec])
REFERENCES [dbo].[NGUOITIMVIEC] ([ID])
GO
ALTER TABLE [dbo].[NGUOITIMVIECLUUTINTUYENDUNG] CHECK CONSTRAINT [FK_NGUOITIMVIECLUUTINTUYENDUNG_NGUOITIMVIEC]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGUOITIMVIECLUUTINTUYENDUNG_TINTUYENDUNG]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGUOITIMVIECLUUTINTUYENDUNG]'))
ALTER TABLE [dbo].[NGUOITIMVIECLUUTINTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOITIMVIECLUUTINTUYENDUNG_TINTUYENDUNG] FOREIGN KEY([MaTinTuyenDung])
REFERENCES [dbo].[TINTUYENDUNG] ([ID])
GO
ALTER TABLE [dbo].[NGUOITIMVIECLUUTINTUYENDUNG] CHECK CONSTRAINT [FK_NGUOITIMVIECLUUTINTUYENDUNG_TINTUYENDUNG]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_APPLICATION_NHATUYENDUNG]') AND parent_object_id = OBJECT_ID(N'[dbo].[APPLICATION]'))
ALTER TABLE [dbo].[APPLICATION]  WITH CHECK ADD  CONSTRAINT [FK_APPLICATION_NHATUYENDUNG] FOREIGN KEY([MaNhaTD])
REFERENCES [dbo].[NHATUYENDUNG] ([ID])
GO
ALTER TABLE [dbo].[APPLICATION] CHECK CONSTRAINT [FK_APPLICATION_NHATUYENDUNG]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHATUYENDUNGLUUCV_CV]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHATUYENDUNGLUUCV]'))
ALTER TABLE [dbo].[NHATUYENDUNGLUUCV]  WITH CHECK ADD  CONSTRAINT [FK_NHATUYENDUNGLUUCV_CV] FOREIGN KEY([MaCV])
REFERENCES [dbo].[CV] ([ID])
GO
ALTER TABLE [dbo].[NHATUYENDUNGLUUCV] CHECK CONSTRAINT [FK_NHATUYENDUNGLUUCV_CV]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHATUYENDUNGLUUCV_NHATUYENDUNG]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHATUYENDUNGLUUCV]'))
ALTER TABLE [dbo].[NHATUYENDUNGLUUCV]  WITH CHECK ADD  CONSTRAINT [FK_NHATUYENDUNGLUUCV_NHATUYENDUNG] FOREIGN KEY([MaNTD])
REFERENCES [dbo].[NHATUYENDUNG] ([ID])
GO
ALTER TABLE [dbo].[NHATUYENDUNGLUUCV] CHECK CONSTRAINT [FK_NHATUYENDUNGLUUCV_NHATUYENDUNG]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KINHNGHIEM_TRONGSO]') AND parent_object_id = OBJECT_ID(N'[dbo].[KINHNGHIEM]'))
ALTER TABLE [dbo].[KINHNGHIEM]  WITH CHECK ADD  CONSTRAINT [FK_KINHNGHIEM_TRONGSO] FOREIGN KEY([TrongSo])
REFERENCES [dbo].[TRONGSO] ([ID])
GO
ALTER TABLE [dbo].[KINHNGHIEM] CHECK CONSTRAINT [FK_KINHNGHIEM_TRONGSO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BANGCAP_TRONGSO]') AND parent_object_id = OBJECT_ID(N'[dbo].[BANGCAP]'))
ALTER TABLE [dbo].[BANGCAP]  WITH CHECK ADD  CONSTRAINT [FK_BANGCAP_TRONGSO] FOREIGN KEY([TrongSo])
REFERENCES [dbo].[TRONGSO] ([ID])
GO
ALTER TABLE [dbo].[BANGCAP] CHECK CONSTRAINT [FK_BANGCAP_TRONGSO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VITRI_TRONGSO]') AND parent_object_id = OBJECT_ID(N'[dbo].[VITRI]'))
ALTER TABLE [dbo].[VITRI]  WITH CHECK ADD  CONSTRAINT [FK_VITRI_TRONGSO] FOREIGN KEY([TrongSo])
REFERENCES [dbo].[TRONGSO] ([ID])
GO
ALTER TABLE [dbo].[VITRI] CHECK CONSTRAINT [FK_VITRI_TRONGSO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CAPBAC_TRONGSO]') AND parent_object_id = OBJECT_ID(N'[dbo].[CAPBAC]'))
ALTER TABLE [dbo].[CAPBAC]  WITH CHECK ADD  CONSTRAINT [FK_CAPBAC_TRONGSO] FOREIGN KEY([TrongSo])
REFERENCES [dbo].[TRONGSO] ([ID])
GO
ALTER TABLE [dbo].[CAPBAC] CHECK CONSTRAINT [FK_CAPBAC_TRONGSO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LOAICONGVIEC_TRONGSO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LOAICONGVIEC]'))
ALTER TABLE [dbo].[LOAICONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_LOAICONGVIEC_TRONGSO] FOREIGN KEY([TrongSo])
REFERENCES [dbo].[TRONGSO] ([ID])
GO
ALTER TABLE [dbo].[LOAICONGVIEC] CHECK CONSTRAINT [FK_LOAICONGVIEC_TRONGSO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGONNGU_KYNANGNGONNGU]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGONNGU]'))
ALTER TABLE [dbo].[NGONNGU]  WITH CHECK ADD  CONSTRAINT [FK_NGONNGU_KYNANGNGONNGU] FOREIGN KEY([KyNangNgonNgu])
REFERENCES [dbo].[KYNANGNGONNGU] ([ID])
GO
ALTER TABLE [dbo].[NGONNGU] CHECK CONSTRAINT [FK_NGONNGU_KYNANGNGONNGU]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGONNGU_TRONGSO]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGONNGU]'))
ALTER TABLE [dbo].[NGONNGU]  WITH CHECK ADD  CONSTRAINT [FK_NGONNGU_TRONGSO] FOREIGN KEY([TrongSo])
REFERENCES [dbo].[TRONGSO] ([ID])
GO
ALTER TABLE [dbo].[NGONNGU] CHECK CONSTRAINT [FK_NGONNGU_TRONGSO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINHOC_KYNANGTINHOC]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINHOC]'))
ALTER TABLE [dbo].[TINHOC]  WITH CHECK ADD  CONSTRAINT [FK_TINHOC_KYNANGTINHOC] FOREIGN KEY([KyNangTinHoc])
REFERENCES [dbo].[KYNANGTINHOC] ([ID])
GO
ALTER TABLE [dbo].[TINHOC] CHECK CONSTRAINT [FK_TINHOC_KYNANGTINHOC]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINHOC_TRONGSO]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINHOC]'))
ALTER TABLE [dbo].[TINHOC]  WITH CHECK ADD  CONSTRAINT [FK_TINHOC_TRONGSO] FOREIGN KEY([TrongSo])
REFERENCES [dbo].[TRONGSO] ([ID])
GO
ALTER TABLE [dbo].[TINHOC] CHECK CONSTRAINT [FK_TINHOC_TRONGSO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LUONG_DONVITIENTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LUONG]'))
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD  CONSTRAINT [FK_LUONG_DONVITIENTE] FOREIGN KEY([DVTienTe])
REFERENCES [dbo].[DONVITIENTE] ([ID])
GO
ALTER TABLE [dbo].[LUONG] CHECK CONSTRAINT [FK_LUONG_DONVITIENTE]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LUONG_TRONGSO1]') AND parent_object_id = OBJECT_ID(N'[dbo].[LUONG]'))
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD  CONSTRAINT [FK_LUONG_TRONGSO1] FOREIGN KEY([TrongSo])
REFERENCES [dbo].[TRONGSO] ([ID])
GO
ALTER TABLE [dbo].[LUONG] CHECK CONSTRAINT [FK_LUONG_TRONGSO1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TINHTHANH_QUOCGIA]') AND parent_object_id = OBJECT_ID(N'[dbo].[TINHTHANH]'))
ALTER TABLE [dbo].[TINHTHANH]  WITH CHECK ADD  CONSTRAINT [FK_TINHTHANH_QUOCGIA] FOREIGN KEY([MaQG])
REFERENCES [dbo].[QUOCGIA] ([ID])
GO
ALTER TABLE [dbo].[TINHTHANH] CHECK CONSTRAINT [FK_TINHTHANH_QUOCGIA]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGUOITIMVIEC_NGONNGU]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGUOITIMVIEC]'))
ALTER TABLE [dbo].[NGUOITIMVIEC]  WITH CHECK ADD  CONSTRAINT [FK_NGUOITIMVIEC_NGONNGU] FOREIGN KEY([NgonNgu])
REFERENCES [dbo].[NGONNGU] ([ID])
GO
ALTER TABLE [dbo].[NGUOITIMVIEC] CHECK CONSTRAINT [FK_NGUOITIMVIEC_NGONNGU]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGUOITIMVIEC_TINHTHANH]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGUOITIMVIEC]'))
ALTER TABLE [dbo].[NGUOITIMVIEC]  WITH CHECK ADD  CONSTRAINT [FK_NGUOITIMVIEC_TINHTHANH] FOREIGN KEY([TinhThanh])
REFERENCES [dbo].[TINHTHANH] ([ID])
GO
ALTER TABLE [dbo].[NGUOITIMVIEC] CHECK CONSTRAINT [FK_NGUOITIMVIEC_TINHTHANH]
